body {
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  background-size: cover;
}
.wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
}
#insert {
  margin-left: 15em;
  padding: 3em;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(2, 0, 36);
  background-image: linear-gradient(68.6deg, #0093e9 0%, #7ce6da 100%);
  box-shadow: 0px 0px 10px 0px rgb(58, 56, 56);
}
#key {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 15em;
  padding: 3em;
  border-radius: 20px;
  background-image: linear-gradient(
    68.6deg,
    rgba(79, 183, 131, 1) 14.4%,
    rgba(254, 235, 151, 1) 92.7%
  );
  box-shadow: 0px 0px 10px 0px rgb(58, 56, 56);
}
input {
  display: block;
  height: 2em;
  width: 15em;
  margin-top: 0.5em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  padding-left: 0.5em;
  border-color: #80d0c7;
  outline: none;
}
input:hover {
  border-color: #80d0c7;
}
#encryption {
  margin-left: 25em;
  padding: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(2, 0, 36);
  background-color: black;

  box-shadow: 0px 0px 10px 0px rgb(58, 56, 56);
  color: white;
  border-radius: 10px;
}

#encryption:hover {
  box-shadow: none;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
  color: #ffee10;
}

#decryption {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 25em;
  padding: 1em;
  box-shadow: 0px 0px 10px 0px rgb(58, 56, 56);
  background-color: black;
  color: white;
  border-radius: 10px;
}
/* #decryption:hover {
  box-shadow: none;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
  color: #ffee10;
}
#display {
  margin-left: 35em;
  margin-top: 5em;
  width: fit-content;
  padding: 3em 8em;
  margin-bottom: 10em;
  background-image: linear-gradient(135deg, #ffb0fb 10%, #c32bac 100%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(58, 56, 56);
} */
