body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  border: 2px solid black;
  width: 35%;
  height: 90vh;
  gap: 0;
  margin: 1em;
  background-image: linear-gradient(
    rgb(198, 253, 224),
    white,
    rgb(217, 252, 234)
  );
}
.items {
  width: fit-content;
  margin: 0.7em;
  aspect-ratio: 1;
  border-radius: 10px;
  font-size: 30px;
  border: 2px solid black;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}
.items:hover {
  background-color: rgb(175, 244, 210);
}
