.sam{
    display: flex;
    justify-content: space-between;
}
.container{
    margin-left: 500px;
    margin-top: 200px;
    margin-right: 500px;
    background-image: linear-gradient(to left, rgb(60, 205, 237),rgb(56, 90, 174));
    /* background-color: darkgray; */
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 3px 4px 2px rgb(35, 31, 31);
}
#ip{
    padding: 10px;
    padding-right: 40px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    border: none;

}
#check{
    padding: 5px;
    margin: 10px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out ;
    background-color: aliceblue;


}
input:focus{
    outline:none;
    border:none;
}
#check:hover{
    background-color:rgb(219, 209, 209);
    scale:0.9;
    box-shadow: 2px 1px 2px 2px gray;

}
