body {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url(./imagess/nkk.jpg);
  background-size: cover;
  overflow: hidden; /* Prevent content from overflowing */
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  text-align: center;
  margin-top: 2em;
}
span {
  color: rgb(68, 27, 193);
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.692); /* Adjust opacity as needed */
  filter: blur(15px); /* Adjust the blur radius as needed */
  scroll-behavior: smooth;
  z-index: -1;
}
img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  top: 10em;
  left: 38em;
}
.cont button[type="button"] {
  padding: 1em 1.5em;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: flex;
  border: none;
  scroll-behavior: smooth;
  background-image: linear-gradient(100deg, rgb(131, 81, 200), white);
  /* background-color: pink; */
  color: rgb(0, 0, 0);
}
.cont {
  display: flex;
  justify-content: center;
  gap: 3em;
  scroll-behavior: smooth;
}

#no {
  position: absolute;
}
