body {
  position: relative;
  background-image: url(/imagess/sky.avif);
  background-size: cover;
}
#container {
  position: absolute;
  border-radius: 50%;
}
img {
  height: 200px;
  width: 200px;
  transform: rotate(45deg);
}
